
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: "Android";
    src: url(assets/fontes/idroid.otf) format("opentype");
    font-weight: normal;
}

:root{
    --cor0: #EBE5C5;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063D1E;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", "cursive";
    --fonte-android: "Android", "cursive";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: justify;
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header{
    color: #FFF;
    padding-top: 10px;
    text-align: center;
    text-shadow: 2px 2px 0 #00000080;
    background-image: linear-gradient(var(--cor3), var(--cor5));
}

header h1{
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 10px;
    font-family: var(--fonte-destaque);
}

header p{
    margin: auto;
    max-width: 500px;
    font-size: 1.2em;
}

nav.header{
    padding: 10px;
    margin-bottom: 30px;
    background-color: var(--cor5);
    box-shadow: 0 7px 6px #00000080;
}

nav.header a{
    color: #FFF;
    padding: 11px;
    font-weight: bold;
    text-decoration: none;
}

nav.header a:hover{
    color: var(--cor5);
    border-radius: 7px;
    transition-duration: 500ms;
    background-color: var(--cor2);
}

main{
    width: 98vw;
    margin: auto;
    padding: 10px;
    max-width: 1508px;
    position: relative;
}

main nav{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

main nav a{
    padding: 10px;
    font-size: 18px;
    font-weight: 900;
    margin-top: 20px;
    color: var(--cor5);
    margin-right: 10px;
    text-decoration: none;
    border-radius: 10px 10px 0 0;
    background-color: var(--cor1);
}

main nav a:hover{
    color: var(--cor1);
    transition-duration: 0.5s;
    background-color: var(--cor5);
}

main nav a:active{
    color: var(--cor5);
    background-color: var(--cor1);
}

main div{
    background-color: #FFF;
}

h1{
    font-size: 48px;
    text-align: center;
    font-family: var(--fonte-android);
}

main img { width: 520px; }

div.esquerda img.android{
    left: 10px;
    top: -210px;
    position: relative;
}

div.esquerda img.doce{
    top: 300px;
    left: -500px;
    position: relative;
}

div.esquerda article{
    left: 48%;
    top: -500px;
    width: 48vw;
    max-width: 750px;
    position: relative;
}

div.direita img.android{
    left: 55%;
    top: -210px;
    position: relative;
}

div.direita img.doce{
    left: 22%;
    top: 300px;
    position: relative;
}

div.direita article{
    right: -20px;
    top: -500px;
    width: 48vw;
    max-width: 750px;
    position: relative;
}

article h2{
    text-align: center;
    margin: 30px 0 10px 0;
}

article p{
    line-height: 1.4em;
}

article ul{
    margin-left: 17px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

@media (max-width: 1400px) {
    div.direita img.doce{
        left: 15%;
        top: 300px;
        position: relative;
    }
}

@media (max-width: 1200px) {
    main img { width: 400px; }

    div.esquerda img.android{top: -150px;}
    
    div.esquerda img.doce{left: -400px;}
    
    div.esquerda article{top: -380px;}
    
    div.direita img.android{top: -150px;}
    
    div.direita img.doce{left: 18%;}
    
    div.direita article{top: -380px;}
}

@media (max-width: 920px) {
    main img { width: 350px; }

    div.esquerda img.android{
        left: 0;
        top: 620px;
        position: relative;
    }
    
    div.esquerda img.doce{
        top: 650px;
        left: 0;
        position: relative;
    }
    
    div.esquerda article{
        left: 20px;
        top: -350px;
        width: 90vw;
        position: relative;
    }
    
    div.direita img.android{
        left: 10px;
        top: 600px;
        position: relative;
    }
    
    div.direita img.doce{
        top: 650px;
        left: 20px;
        position: relative;
    }
    
    div.direita article{
        left: 20px;
        top: -340px;
        width: 90vw;
        position: relative;
    }
}

@media (max-width: 745px) {
    main img { width: 200px; }
    div{
        height: 1000px;
    }

    div.esquerda img.android{
        top: 700px;
        left: 50px;
        position: relative;
    }

    div.esquerda img.doce{
        top: 700px;
        left: 200px;
        width: 130px;
        position: relative;
    }
    div.esquerda article{top: -130px}

    div.direita img.android{
        top: 780px;
        left: 50px;
        position: relative;
    }

    div.direita img.doce{
        top: 780px;
        left: 200px;
        width: 130px;
        position: relative;
    }
    div.direita article{top: -130px}
    
}

@media (max-width: 600px) {
    main img { width: 400px; }

    div{
        height: 1600px;
    }

    div.esquerda img.android{
        left: 50px;
        top: 910px;
        position: relative;
    }
    
    div.esquerda img.doce{
        top: 880px;
        left: 50px;
        width: 400px;
        position: relative;
    }
    
    div.esquerda article{
        left: 20px;
        top: -630px;
        width: 85vw;
        position: relative;
    }
    
    div.direita img.android{
        left: 50px;
        top: 910px;
        position: relative;
    }
    
    div.direita img.doce{
        top: 880px;
        left: 50px;
        width: 400px;
        position: relative;
    }
    
    div.direita article{
        left: 20px;
        top: -630px;
        width: 85vw;
        position: relative;
    }
}

@media (max-width: 450px) {
    main img { width: 350px; }

    div{
        height: 1800px;
    }

    div.esquerda img.android{
        left: 0;
        top: 1111px;
        position: relative;
    }
    
    div.esquerda img.doce{
        top: 1100px;
        left: 10px;
        width: 350px;
        position: relative;
    }
    
    div.esquerda article{
        left: 20px;
        top: -550px;
        width: 85vw;
        position: relative;
    }
    
    div.direita img.android{
        left: 0;
        top: 1111px;
        position: relative;
    }
    
    div.direita img.doce{
        top: 1100px;
        left: 10px;
        width: 350px;
        position: relative;
    }
    
    div.direita article{
        left: 20px;
        top: -550px;
        width: 85vw;
        position: relative;
    }
}

@media (max-width: 380px) {
    main img { width: 300px; }

    div.esquerda img.android{top: 1200px;}
    div.direita img.android{top: 1200px;}
    div.esquerda img.doce{
        top: 1200px;
        width: 300px;
    }
    div.direita img.doce{
        top: 1200px;
        width: 300px;
    }
    div.esquerda article{top: -470px;}
    div.direita article{top: -470px;}
}